{% extends "base.html" %}
{% block title %}Especialidades{% endblock %}
{% block content %}
<h3>Gestión de Especialidades</h3>

<form method="POST" class="row g-2 mb-4">
    <div class="col-md-4"><input name="nombre" class="form-control" placeholder="Nombre de la especialidad" required></div>
    <div class="col-md-6"><input name="descripcion" class="form-control" placeholder="Descripción"></div>
    <div class="col-md-2"><button class="btn btn-success w-100">Agregar</button></div>
</form>

<div class="table-card">
<div class="table-responsive">
<table class="table table-striped mb-0">
    <thead><tr><th>Nombre</th><th>Descripción</th><th>Acciones</th></tr></thead>
    <tbody>
    {% for s in especialidades %}
        <tr>
            <td>{{ s.nombre }}</td>
            <td>{{ s.descripcion or '' }}</td>
            <td>

                <a href="{{ url_for('admin.editar_especialidad', especialidad_id=s.id) }}"
                class="btn btn-sm btn-outline-primary">
                    Editar
                </a>
                <form method="POST" action="{{ url_for('admin.eliminar_especialidad', especialidad_id=s.id) }}" onsubmit="return confirm('¿Eliminar especialidad?');">
                    <button class="btn btn-sm btn-outline-danger">Eliminar</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
